.main{
    width: 1190px;
    margin: 0 auto;
}
.main .logo{
    height: 43px;
    padding: 20px 0;
}
.main .logo h1{
    height: 43px;
    display: inline-block;
    vertical-align: middle;
}
.main .logo h1 img{
    height: 100%;
}
.main .logo h2{
    display: inline-block;
    height: 43px;
    line-height: 43px;
    margin-left: 6px;
    font-size: 22px;
    vertical-align: middle;
}
.steps{
    height: 46px;
    border-bottom: 2px solid #e6e6e6;
    /* width: 1190px; */
}
.steps ul{
    width: 720px;
    margin: 0 auto;
}
.steps ul .active{
    color: #3e3e3e;
    border-bottom: 2px solid #ff4700;
    width:150px;
    float: left;
    padding-left: 30px;
    height: 48px;
    line-height: 48px;
    font-weight: bolder;
}
.steps ul .active i{
    display: inline-block;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    text-align: center;
    color: white;
    background: red;
    border-radius: 50%;
    line-height: 24px;
}
.steps ul li{
    color: #999;
    /* border-bottom: 2px solid #ccc; */
    width:150px;
    float: left;
    padding-left: 30px;
    height: 48px;
    line-height: 48px;
    font-weight: bolder;
}
.steps ul li i{
    display: inline-block;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #fff;
    background: #ccc;
    border-radius: 50%;
    line-height: 24px;
}
.change_lan{
    float: right;
    font-size: 12px;
    margin-top: 15px; 
}
.change_lan a{
    padding: 3px 5px;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #FFF;
}
/* 验证 */
.content{
    padding: 50px 0;
    text-align: center;
}
.content form{
    width: 720px;
    height: 134px;
    margin: 0 auto;
    position: relative;
}
.content form li{
    margin-top: 20px;
}
.content form span{
    font-size: 14px;
    margin-right: 10px;
}
.content form input{
    width: 140px;
    border: 1px solid #dedede;
    height: 17px;
    line-height: 17px;
    padding: 9px;
    font-size: 14px;
    text-align: center;
}
.content form .slider{
    position: absolute;
    top: 57px;
    left: 221px;
    width: 42px;
    height: 35px;
    cursor: move;
    background:  #fff;;
    text-align: center;
    border: 1px solid #ccc;
    line-height: 35px;
    color: #737383;
}
.content form .move{
    width: 300px;
    background: #ededed;
}
.content form button{
    background-color: #ededed;
    border-color: #ededed;
    color: #999;
    border: 0;
    border-radius: 3px;
    height: 36px;
    line-height: 36px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    width: 180px;
    margin-top: 20px;
}
.content .msg{
    display: none;
}
/* .content .msg input{
    display: block;
} */
.content .msg li{
    margin-left: -45px;
}
.content .msg li input{
    border-radius: 3px;
    width: 200px;
    background: #999;
}